$ionicons: "ionicons";
// $quicksand-regular: "quicksand-regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$quicksand-regular: "quicksand-regular";
// $quicksand-light: "quicksand-light", "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif;
$quicksand-light: "quicksand-light";
